.profile {
  width: 100%;
  max-width: 396px;
  height: calc(100% - 77px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 120px;
  text-align: center;
}

.profile__form {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__input {
  margin: 0;
}

.profile__wrapper {
  display: flex;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
}

.profile__button {
  min-height: 25px;
  border: none;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.22;
  text-align: center;
  color: #000;
  transition: opacity 0.25s;
  margin: 179px 0 0;
}

.profile__button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.profile__button:last-of-type {
  color: #EE3465;
  margin:  0;
}

.profile__button:disabled {
  opacity: 0.85;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 0 30px;
    height: calc(100% - 82px);
    box-sizing: border-box;
  }

  .profile__form {
    flex-grow: 1;
    padding: 0 0 40px;

  }

  .profile__title {
    margin: 70px 0 64px;
  }

  .profile__button {
    font-size: 12px;

  }

  .profile__button:first-of-type {
    margin: auto 0 0;
  }

}
