.techs {
  background-color: #F5F5F5;
  padding: 100px 70px;
}

.techs__subtitle {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 1.16;
  margin: 90px 0 0;
}

.techs__title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.22;
  padding: 0 0 23px 0;
  margin: 0;
  border-bottom: 1px solid #000;
}


.techs__about {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  margin: 26px auto 100px;
  max-width: 460px;
}

.techs__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
  margin: 0 auto;
  gap: 10px;
  width: max-content;
}

.techs__item {
  text-decoration: none;
  background-color: #E8E8E8;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 10px;
  width: 90px;
  text-align: center;
  padding: 21px 0;
}

.techs__item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__subtitle {
    margin: 80px 0 0;
  }

  .techs__about {
    font-size: 12px;
    line-height: 1.5;
    margin: 22px auto 83px;
  }

  .techs__item {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 70px 18px;
  }

  .techs__subtitle {
    margin: 50px 0 0;
    font-size: 30px;
    line-height: 1.2;
  }

  .techs__title {
    font-size: 18px;
    line-height: 1.2;
    padding: 0 0 28px 0;
  }

  .techs__about {
    font-size: 11px;
    line-height: 1.4s5;
    margin: 24px auto 50px;
  }

  .techs__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .techs__item {
    font-size: 12px;
    margin: 0;
  }
}
