@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./components/App/App.css);
/* @import url(./components/Logo/logo.css); */

.root {
  background-color: #fff;
  /* background-color: #F5F5F5; */
  color: #000;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
